<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Digest</title>
</head>

<body
    style="margin: 0; padding: 0; background-color: #FAFAFA; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.6; font-weight:200">
    <center>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%"
            style="margin: auto; max-width: 600px; background-color: #FFFFFF; color:#27292c">
            <tr>
                <td style="padding: 30px; text-align: start;border-bottom: 1px solid #DDDDDD; ">
                    <p style="font-size:40px;font-weight:200;margin:8px 0;color: #2f4656"> Managr Activation</p>
                    <p
                        style="margin-top: 0; color: #333333; font-size: 24px; line-height: 1.4; margin:8px 0; color:#9b9b9b">
                        Let's get started</p>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px;">
                    <div style="border-bottom: 1px solid #DDDDDD;margin-bottom:16px;padding-bottom:16px">
                        <p>
                            Hello {{first_name}}, thanks for signing up to Managr! Activate your account here:
                        </p>
                    </div>



                    <div style="border-bottom: 1px solid #DDDDDD; padding-bottom: 15px; margin-bottom: 15px;">

                        <div style="display: flex;align-items: center; justify-content:center;color: #9596b4;">
                            <a href={{activation_link}} style="text-decoration:none;">
                                <button style="  cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
            line-height: 1.14;
            text-indent: none;
            border-style: none;
            letter-spacing: 0.03rem;
            cursor: not-allowed;
            background-color: #2f4656;
            border: 1px solid #2f4656;
            color: white;
            font-size: 12px;">Activate Account</button>
                            </a>
                        </div>
                    </div>


                </td>
            </tr>

        </table>
    </center>
</body>

</html>