<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Digest</title>
    <style>
        p,
        b,
        div {
            margin: 16px 0;
            padding: 0;
        }

        .im {
            color: #2f4656 !important;
            white-space: nowrap;
        }

        h1,
        h2,
        h3,
        h4 {
            margin: 0 !important;
        }

        ol {
            padding-left: -0 !important;
        }

        li {
            margin: 12px 16px;
        }
    </style>
</head>

<body
    style="margin: 0; padding: 0; background-color: #FAFAFA; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.6; font-weight: 200;">
    <center>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600"
            style="margin: auto; background-color: #FFFFFF; color: #27292c;">
            <tr>
                <td style="padding: 30px; text-align: start; border-bottom: 1px solid #DDDDDD;">
                    <p style="font-size: 40px; font-weight: 200; margin: 8px 0; color: #2f4656;">ManagrAI Digest
                    </p>
                    <p style="color: #333333; font-size: 24px; line-height: 32px; margin: 8px 0; color: #9b9b9b;">
                        {{ title }}
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px;">
                    <table role="presentation" width="100%"
                        style="border-bottom: 1px solid #DDDDDD; margin-bottom: 16px; padding-bottom: 16px;">
                        <tr>
                            <td
                                style="color: #2f4656; font-family: Arial, sans-serif; background-color: #e9f3fa; padding:16px; font-weight: 200;">
                                <p style="font-size: 20px;">Your daily social digest is ready!</p>
                                <a href="{{ thread_url }}" style=" color: #2f4656;">View the
                                    latest social posts</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px 30px 40px 30px; text-align: center; color: #999999;">
                    <p style="font-size: 14px;">Contact your account manager: mike@mymanagr.com</p>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>