@import '../variables';
@import './utils';

// NOTE: There are global button classes in forms.scss. I figured since buttons will be the
// same across the app, it's okay to create a global 'button' class for most cases, and
// if a local class is required, you can just import this mixin and create a local class.
//

@mixin chat-button(){
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .75rem 1rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: $base-font-family;
  color: $base-gray;
  font-weight: 200;
  white-space: nowrap;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    scale: 1.025;
  }

  &:disabled {
    box-shadow: none;
    border: none;
    scale: 1;
    background-color: $soft-gray;
    color: $gray;
    &:hover {
      background-color: $soft-gray;
    }
  }
}

@mixin base-button() {
  @include disable-text-select();
  @include pointer-on-hover();
  @include disabled-button-styles();
  @include base-font-styles();

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  line-height: 1.14;
  text-indent: none;
  border-style: none;
  letter-spacing: 0.03rem;

  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin primary-button() {
  @include base-button();
  background-color: $dark-green;
  color: $white;
  font-size: 12px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    scale: 1.025;
  }

  &:disabled {
    box-shadow: none;
    border: none;
    scale: 1;
    background-color: $soft-gray;
    color: $gray;
    &:hover {
      background-color: $soft-gray;
    }
  }
}

@mixin --icon($ptb: 0.5rem, $plr: 0.5rem) {
  border-radius: 50%;
  padding: $ptb $plr;
}

@mixin secondary-button() {
  @include base-button();
  background-color: $silver;
  color: $main-font-gray;
  &:hover {
    box-shadow: 1px 1px 5px -1px $dark-green, -1px -1px 5px -1px $dark-green;
    fill: $dark-green;
  }
}

@mixin gray-text-button() {
  @include base-button();
  background-color: $white;
  border: 1px solid $soft-gray;
  color: $base-gray;
  font-size: 12px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    scale: 1.025;
  }

  &:disabled {
    box-shadow: none;
    border: none;
    scale: 1;
    background-color: $soft-gray;
    color: $gray;
    &:hover {
      background-color: $soft-gray;
    }
  }
}

@mixin dark-blue-button() {
  @include base-button();
  background-color: $dark-black-blue;
  border: 1px solid $dark-black-blue;
  color: $white;
  font-size: 12px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    scale: 1.025;
  }

  &:disabled {
    box-shadow: none;
    border: none;
    scale: 1;
    background-color: $soft-gray;
    color: $gray;
    &:hover {
      background-color: $soft-gray;
    }
  }
}

@mixin white-button() {
  @include base-button();
  background-color: $white;
  border: 1px solid $dark-green;
  color: $dark-green;
  font-size: 12px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    scale: 1.025;
  }

  &:disabled {
    box-shadow: none;
    border: none;
    scale: 1;
    background-color: $soft-gray;
    color: $gray;
    &:hover {
      background-color: $soft-gray;
    }
  }
}

@mixin button-danger() {
  @include base-button();
  background-color: $coral;
  color: $white;
  font-size: 12px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    scale: 1.025;
  }

  &:disabled {
    box-shadow: none;
    border: none;
    scale: 1;
    background-color: $soft-gray;
    color: $gray;
    &:hover {
      background-color: $soft-gray;
    }
  }
}

@mixin white-button-danger() {
  @include base-button();
  background-color: $white;
  border: 1px solid $coral;
  color: $coral;
  font-size: 12px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    scale: 1.025;
  }

  &:disabled {
    box-shadow: none;
    border: none;
    scale: 1;
    background-color: $soft-gray;
    color: $gray;
    &:hover {
      background-color: $soft-gray;
    }
  }
}

@mixin disabled-button-styles() {
  &:disabled {
    background-color: $very-light-gray;
    color: $panther-gray;

    &:hover {
      background-color: $light-gray-blue;
      cursor: default;
    }
  }
}

@mixin paginator() {
  --theme-border-color: #ececee;
  --theme-background-color: #{$white};
  --theme-font-family: #{$base-font-family};
  --theme-hover-color: #{$theme-gray};
  --theme-width: 1.8rem;
  --theme-height: 1.25rem;
  --theme-font-size: 1rem;
  --theme-radius: 0.3rem;
  --theme-border-width: 0.05rem;
  --theme-arrow-length: 0.8rem;
}
