@import '../variables';

@mixin base-button() {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  font-family: $base-font-family, $backup-base-font-family;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;

  /* prevent selection of text in buttons */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  &:hover {
    cursor: pointer;
  }
}

@mixin primary-button() {
  @include base-button();
  background-color: $dark-green;
  color: white;
}

@mixin secondary-button() {
  @include base-button();
  background-color: $silver;
  color: $main-font-gray;
}

@mixin disabled-button() {
  @include base-button();
  background-color: $light-gray-blue;
  color: $dark-gray-blue;
}