@import '../variables';

@mixin input-field() {
  border-radius: 4px;
  background-color: $off-white;
  border: none;
  box-sizing: border-box;
  padding: 3%;
  font-family: $base-font-family, $backup-base-font-family;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.5px;
  color: #444444;

  &:focus {
    box-shadow: 0 0 10px rgba($color: $dark-green, $alpha: 0.5);
    outline: none;
    background-color: white;
  }

  &::placeholder {
    opacity: 0.5;
    font-family: $base-font-family, $backup-base-font-family;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #444444;
  }
}