@import "../variables";
@import "./utils";

@mixin input-field() {
  @include base-font-styles();
  border-radius: 4px;
  background-color: $soft-gray;
  border: none;
  box-sizing: border-box;
  padding: 3%;
  line-height: 1.29;
  letter-spacing: 0.5px;
  color: $base-gray;

  &:focus {
    box-shadow: 0 0 10px rgba($color: $dark-green, $alpha: 0.5);
    outline: none;
    background-color: $white;
  }

  &::placeholder {
    @include base-font-styles();
    opacity: 0.5;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: $base-gray;
  }
}

.input {
  @include input-field();
  font-size: 1rem;
}

.textarea {
  @include input-field();

  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.form-element {
  width: 100%;
  margin: 0.5rem 0;
}

.form-title {
  margin-bottom: 0.5rem;
}
