@import "../variables";

@mixin disable-text-select() {
    /* prevent selection of text */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@mixin pointer-on-hover() {
    &:hover {
        cursor: pointer;
    }
}

@mixin standard-border() {
    border: 1px solid $soft-gray;
}

@mixin base-font-styles() {
    font-family: $base-font-family, $backup-base-font-family;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.is-title {
    display: block;
    font-weight: 1000;
    margin-bottom: 0.25rem;
}

.is-subtitle {
    display: block;
    font-weight: 500;
    color: #9f9cb7;
    margin-bottom: 0.25rem;
}
