.vscode/
.git/
compose/
config/
deploy/
!deploy/server/
netops/
planning/
**/README.md
bitbucket-pipelines.yml
docker-compose*.yml
Dockerfile
Makefile
.flake8
initialize.sh
install-ubuntu.sh
**/node_modules
env.txt