@import "./mixins/utils";
@import "./variables";
@import "./fonts";

.box {
  @include standard-border();
  background-color: $white;
  margin: 1rem 0;
  &__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 0 0 #eeeeee;
  }
  &__title {
    @include base-font-styles();
    padding: 1rem 1rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color: $main-font-gray;
    text-transform: uppercase;
    text-align: left;
  }
  &__icon {
    height: 3rem;
    font-size: 14px;
    line-height: 1.14;
    color: $main-font-gray;
    text-transform: uppercase;
  }
  &__content {
    padding: 1rem 1rem;
  }
  &__tab-header {
    display: flex;
    padding: 1rem 0 0;
    box-shadow: 0 1px 0 0 $soft-gray;
  }
  &__tab {
    padding: 1rem 2rem;
    border-bottom: none;
    color: #bcbcc1;
    font-weight: normal;
  }
  &__tab--active {
    padding: 1rem 2rem;
    color: #110f24;
    border-bottom: 2px solid #2f9e54;
  }
}

.toolbar {
  @include standard-border();
  background-color: $white;
  margin: 1rem 0;
  &__header {
    padding: 1rem;
    text-align: center;
  }
  &__title {
    @include base-font-styles();
    font-weight: 700;
    font-size: 16px;
    line-height: 1.188;
    color: $main-font-gray;
    text-transform: uppercase;
  }
  &__row {
    @include base-font-styles();
    padding: 1.5rem 1rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.188;
    color: $main-font-gray;
    text-transform: uppercase;
    text-align: left;
    box-shadow: 0 1px 0 0 #eeeeee;
  }
  &__active {
    background-color: #e5f2ea;
    border-bottom: 4px #199e54 solid;
  }
}

.actions {
  &__container--header > * {
    font-weight: 1000;
  }
  &__item {
    @include standard-border();
    padding: 1.25rem;
  }
  &__row {
    display: flex;
    padding: 0.5rem;
  }
  &__item-header-icon {
    flex: 1;
  }
  &__item-header-title {
    flex: 8;
  }
  &__item-header-date {
    flex: 3;
  }
  &__item-header-action {
    flex: 1;
  }
  &__item-content {
    padding: 1rem 0;
  }
  &__item-content--inactive {
    display: none;
  }
}

.email {
  &__row {
    display: flex;
    padding: 0.5rem 0;
    width: 100%;
  }
  &__row-title {
    width: 100%;
  }
  &__contact-tag {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    margin: 0 0.25rem;
  }
  &__compose-subject {
    width: 100%;
  }
  &__compose-body {
    width: 100%;
  }
  &__reply-expanded-row {
    padding: 0.5rem;
  }
}
