@import "./mixins/utils";
@import "./variables";
@import "./fonts";

.box {
  @include standard-border();
  background-color: $white;
  margin: 0 0 1rem 0;
  &--no-border {
    border: none;
  }
  &__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 0 0 #eeeeee;
  }
  &__title {
    @include base-font-styles();
    padding: 1rem 1rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color: $main-font-gray;
    text-transform: uppercase;
    text-align: left;
  }
  &__icon {
    height: 3rem;
    font-size: 14px;
    line-height: 1.14;
    color: $main-font-gray;
    text-transform: uppercase;
  }
  &__content {
    padding: 1rem 1rem;
  }
  // Dont know if we need this anymore
  &__bordered-content {
    padding: 1rem 1rem;
    box-shadow: 0 1px 0 0 #eeeeee;
  }
  &__tab-header {
    display: flex;
    padding: 0.25rem 0 0;
    box-shadow: 0 1px 0 0 $soft-gray;
  }
  &__tab {
    padding: 1rem 2rem;
    border-bottom: none;
    color: #bcbcc1;
    font-weight: normal;
    cursor: pointer;
  }
  &__tab--active {
    padding: 1rem 2rem;
    color: #110f24;
    border-bottom: 2px solid #2f9e54;
  }
  &__panel-row {
    padding: 1rem 1rem;
    box-shadow: 0 1px 0 0 #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__panel-row-icon {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__panel-row-content {
    flex: 4;
  }
}

.item-list {
  @include standard-border();
  background-color: $white;
  margin: 1rem 0;
  &__header {
    padding: 1rem;
    box-shadow: 0 1px 0 0 $soft-gray;
  }
  &__title {
    @include base-font-styles();
    font-weight: 700;
    font-size: 16px;
    line-height: 1.188;
    color: $main-font-gray;
  }
  &__item {
    padding: 1.25rem;
    box-shadow: 0 1px 0 0 #eeeeee;
  }
  &__item--hover-effect {
    transition: background-color ease 0.4s;
    cursor: pointer;

    &:hover {
      background-color: $soft-gray;
    }
  }
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__row-item--double {
    flex: 4;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
  }
  &__row-item {
    flex: 2;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
  }
  &__row-item--half {
    flex: 1;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
  }
  &__row-item-content {
    margin: 1rem 0;
    width: 100%;
  }
}

.action-item {
  &__header {
    padding: 0.25rem 0 0.25rem;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 700;
  }
  &__content {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
}

.action-callout {
  display: flex;
  padding: 1rem;
  background-color: #e5f2ea;
}

.lead-row {
  margin: 0.75rem 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 14px;
  background-color: #e5f2ea;
  &__title {
    font-weight: 700;
    flex: 4;
  }
  &__item--double {
    flex: 4;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
  }
  &__item {
    flex: 2;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
  }
  &__item--half {
    flex: 1;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
  }
  &--gray {
    // TODO: Turn into variable and puit in variables.scss
    background-color: #efeff5;
  }
  &--red {
    // TODO: Turn into variable and puit in variables.scss
    background-color: #ffd4d4;
  }
  &--list {
    @include standard-border();
    padding: 1.25rem;
    background-color: $white;
  }
}

.actions {
  &__container--header > * {
    font-weight: 1000;
  }
  &__item {
    @include standard-border();
    padding: 1.25rem;
  }
  &__row {
    display: flex;
    padding: 0.5rem;
  }
  &__item-header-icon {
    flex: 1;
  }
  &__item-header-title {
    flex: 8;
  }
  &__item-header-date {
    flex: 3;
    color: $very-light-gray;
  }
  &__item-header-action {
    flex: 1;
  }
  &__item-content {
    padding: 1rem 0;
  }
  &__item-content--inactive {
    display: none;
  }
}

.tag {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0.25rem;
  white-space: nowrap;
}

.content {
  @include base-font-styles();
  line-height: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

li {
  margin-bottom: 0.5rem;
}
