@font-face {
  font-family: "Quicksand";
  src: url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap") format("opentype");
}

@font-face {
  font-family: "Lato";
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap') format('opentype');
}