// Roboto (for Google)
@font-face {
  font-family: "Roboto Medium";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}
// Mont
@font-face {
  font-family: "Montserrat" ;
  src: url('~@/assets/fonts/Montserrat.ttf') format("truetype");
}

@font-face {
  font-family: "Quicksand" ;
  src: url('~@/assets/fonts/Quicksand-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("~@/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato-Black";
  src: url("~@/assets/fonts/Lato-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url("~@/assets/fonts/Lato-BlackItalic.ttf") format("truetype");
}


@font-face {
  font-family: "Lato-BoldItalic";
  src: url("~@/assets/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato-Italic";
  src: url("~@/assets/fonts/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("~@/assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url("~@/assets/fonts/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("~@/assets/fonts/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-ThinItalic";
  src: url("~@/assets/fonts/Lato-ThinItalic.ttf") format("truetype");
}

//lexendDeca

@font-face {
  font-family: "LexendDeca-Regular";
  src: url("~@/assets/fonts/LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LexendDeca-Light";
  src: url("~@/assets/fonts/LexendDeca-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LexendDeca-Medium";
  src: url("~@/assets/fonts/LexendDeca-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "LexendDeca-Bold";
  src: url("~@/assets/fonts/LexendDeca-Bold.ttf") format("truetype");
}

//Roboto

@font-face {
  font-family: "Roboto-Regular";
  src: url("~@/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("~@/assets/fonts/Roboto-Light.ttf") format("truetype");
}
