// Each page should use the 'page' as the primary container,
// and then create a left nav bar, right panel, and main content area as needed
// If you want the main content area to stay a consistent width
// between a page with no panel and a page with a panel, then use the
//  main-content-area-with-panel.

.page {
  display: flex;
  justify-content: center;
  &__main-content-area {
    width: 80vw;
    min-width: 65rem;
  }

  &__main-content-area-with-panel {
    width: 80vw;
    min-width: 65rem;
    margin-left: 12rem;
  }
}

.row {
  width: 100%;
}

.is-fullwidth {
  width: 100%;
}

.flexbox-container {
  display: flex;

  &__column {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
