@import './fonts';

// --------- THEME COLORS ---------
// $dark-green: #199e54; 
$light-gold: rgb(255, 252, 238);
$dark-green: #41b883;
$lime-green: #78c142; // rgb(120, 193, 66)
$yellow: #fab900; // rgb(250, 185, 0)
$light-yellow: #faf4e3;
$coral: #fa646a; // rgb(250, 100, 106)
$light-coral: #f7d5d6; // rgb(250, 100, 106)
$light-red: #ffd4d4;
$dark-gray-blue: #484a6e; // rgb(72, 74, 110)
$light-gray-blue: #9596b4; // rgb(149, 150, 180)
$theme-gray: #d7d7dd; // rgb(215, 215, 221)
$silver: #efeff5; // rgb(239, 239, 245)
$icon-purple: #484a6e;
$item-active: #e5f2ea;
$light-purple: rgb(247, 242, 255);
$dark-blue: #183153;
$gray-blue: #555F71;
$purple: rgb(110, 86, 118);

// --------- STANDARD COLORS ---------

$very-light-blue: #f3f6f9;
$main-font-gray: #110f24;
$light-gray: #f5f5f5;
$off-white: #fafafa; // rgb(250,250,250) Very light gray
$soft-gray: #eeeeee;
$light-orange-gray: #efeff5;
$very-light-gray: #c2c4ca; // rgb(194,196,202) 20% gray
$mid-gray: #aaaaaa; // rgb(170,170,170) 40% gray
$gray: #9b9b9b; // rgb(155,155,155) gray
$base-gray: #202123; // rgb(77,78,76) 62% gray
$night-rider: #333333; // rgb(51,51,51) 80% gray
$white: white;
$black: black;
$slate-gray: #040706;
$ocean: #7dbeb8;
$grape: #645289;
$candy: #91395c;
$new-blue: #157885;
$darker-green: #035227;
$lighter-green: #a0e2be;
$light-green: #67997d;
$white-green: #dcf8e9;
$very-light-green: #f6fffa;
$light-orange: #ffefea;


// --------- PANTHER PALLETTE -------
$panther-gray:#5D5E5E;
$panther-silver: #BEB5cc;
$panther-purple: #b270ff;
$panther-turq: #69e3cd;
$panther: #3c3940;
$panther-gold: #ddad3c;
$panther-blue: #5f8cff;

// --------- FONTS 1 remove when font 2 is fully integrated ---------
$base-font-color: $main-font-gray;
$base-font-family: Lato-Regular;
$backup-base-font-family: sans-serif;
$logo-font-family: Quicksand-Regular;
$base-font-size: 16px;

// ------- Font 2 ---------
$chat-font-family: Roboto-Light;
$chat-title-family: Roboto-Regular;
$chat-font-size-normal: 16px;
$chat-font-color: $base-gray;

// --------- SIZES ---------
