@import './fonts';

// --------- THEME COLORS ---------
$dark-green: #199e54; // rgb(25, 158, 84)
$lime-green: #78c142; // rgb(120, 193, 66)
$yellow: #fab900; // rgb(250, 185, 0)
$coral: #fa646a; // rgb(250, 100, 106)
$light-red: #ffd4d4;
$dark-gray-blue: #484a6e; // rgb(72, 74, 110)
$light-gray-blue: #9596b4; // rgb(149, 150, 180)
$theme-gray: #d7d7dd; // rgb(215, 215, 221)
$silver: #efeff5; // rgb(239, 239, 245)
$icon-purple: #484a6e;
$item-active: #e5f2ea;

// --------- STANDARD COLORS ---------

$main-font-gray: #110f24;
$off-white: #fafafa; // rgb(250,250,250) Very light gray
$soft-gray: #eeeeee; // rgb(238,238,238) 30% gray
$light-orange-gray: #efeff5;
$very-light-gray: #c2c4ca; // rgb(194,196,202) 20% gray
$mid-gray: #aaaaaa; // rgb(170,170,170) 40% gray
$gray: #9b9b9b; // rgb(155,155,155) gray
$base-gray: #4d4e4c; // rgb(77,78,76) 62% gray
$night-rider: #333333; // rgb(51,51,51) 80% gray
$white: white;
$black: black;
$slate-gray: #110f24;

// --------- FONTS ---------
$base-font-color: $main-font-gray;
$base-font-family: Lato-Regular;
$bold-font-family: Lato-Bold;
$backup-base-font-family: sans-serif;
$logo-font-family: Quicksand-Regular;
$base-font-size: 16px;

// --------- SIZES ---------
