@import './font';

// --------- THEME COLORS ---------
$dark-green: #199e54; // rgb(25, 158, 84)
$lime-green: #78c142; // rgb(120, 193, 66)
$yellow: #fab900; // rgb(250, 185, 0)
$coral: #fa646a; // rgb(250, 100, 106)
$dark-gray-blue: #484a6e; // rgb(72, 74, 110)
$light-gray-blue: #9596b4; // rgb(149, 150, 180)
$gray: #d7d7dd; // rgb(215, 215, 221)
$silver: #efeff5; // rgb(239, 239, 245)

// --------- STANDARD COLORS ---------

$main-font-gray: #110f24;
$off-white: #fafafa; // Very light gray
$soft-gray: #eeeeee; // 30% gray
$very-light-gray: #c2c4ca; // 20% gray
$mid-gray: #aaaaaa; // 40% gray
$gray: #9b9b9b; // gray
$base-gray: #4d4e4c; // 62% gray
$night-rider: #333333; // 80% gray

// --------- FONTS ---------
$base-font-color: $main-font-gray;
$base-font-family: "Lato";
$backup-base-font-family: "sans-serif";
$logo-font-family: "Quicksand";


// --------- SIZES ---------

